<html>
  <body>
    
  <div id="footer" th:fragment="foot">
     <br/>
     <span  style="padding-left:10px;float:center">&copy; Copyright 2019</span>
	  <!-- Optional JavaScript -->
	  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	  <script type="text/javascript" src="/webjars/jquery/3.4.0/jquery.min.js"></script>
	  <script type="text/javascript" src="/webjars/popper.js/1.15.0/popper.min.js"></script>
	  <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </div>
  
  </body>
</html>